{% extends 'layout.html' %}
{% block title %} index {% endblock %}
{% block head %} {{super()}} {% endblock %}
{% block body %}

<h1>회원게시판</h1><hr>
<div style="text-align: right">
    <a href={{url_for("post_view.post_form", board_name="member_board")}}>글쓰기</a>
</div>
<div id="render_table">
<table class="table hover" id="post_list" style="cursor:pointer">
    <thead>
        <tr>
            <th>no</th>
            <th>title</th>
            <th>writer</th>
            <th>in_date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>

<script>
    $(function(){
        var table = $("#post_list").dataTable({
            "processing" : true,
            "serverSide" : true,
            "searching":false,
            "ajax" : {
                "url":"{{url_for('post_api.get_member_post_list')}}",
                "type":"POST"
            },
            "columns": [
                {"data":"p_id"},
                {"data":"p_title"},
                {"data":"p_writer"},
                {"data":"p_date"}
            ],
            "order":[[0, "desc"]]
        });

        table.on('click', 'tbody tr', function(){
            var p_id = $($(this).children()[0]).text();
            //console.log(p_id);
            location.href="/post_view/"+p_id;
        });
    });
</script>

{% endblock %}
