{% extends 'layout.html' %}
{% block title %}login{% endblock %}
{% block header %}
{{super() }}
{% endblock %}
{% block body %}
    <h1>로그인</h1><hr>
    <form method="POST" action="/api/login">
        id : <input type="text" name="id" placeholder="id"> <br>
        pw : <input type="password" name="pw" placeholder="pw"> <br>
        <input type="submit">
        <input id="reg_btn" type="button" value="회원가입">
    </form>
    <script>
        $('#reg_btn').on('click', function(){
            location ='register';
        })
    </script>
{% endblock %}