<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div>
    <a href="main">메인</a>
    {% with b_list = board_list() %}
    {% if b_list %}
    {% for list in b_list %}
        {% if list[1] == 1 %}
        | <a href={{ url_for("board_view."+list[2]) }}> {{list[0]}}</a>
        {% elif list[1] == 3 and current_user['user_id'] == 'admin'%}
        | <a href={{ url_for("board_view."+list[2]) }}>{{list[0]}}</a>
        {% elif list[1] == 2 and current_user.is_authenticated %}
        | <a href={{ url_for("board_view."+list[2]) }}>{{list[0]}}</a>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <span style="float:right">
    {% if current_user.is_authenticated %}
        {{ current_user['user_name'] }}님 <a href="/api/logout">로그아웃</a>
    {% else %}
        <a href="/login">로그인</a>
    {% endif %}
    </span>
    <hr>

</div>
<div>
    {% block body %}{% endblock %}

    {% with list = get_flashed_messages() %}
    {% if list %}
    {% for msg in list %}
    <h3>{{ msg.decode('utf-8') }}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

</body>
</html>