{% extends 'layout.html' %}
{% block title %}로그인{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block contents %}
    <div class="container">
        <hr>
        <div class="page-header">
            <h1>로그인</h1>
        </div>
        <hr>
        {% with lists = get_flashed_messages() %}
            {% for list in lists %}
                <div class="alert alert-info">
                    <strong>Info!</strong> {{ list.decode("utf-8") }}
                </div>
            {% endfor %}
        {% endwith %}
        <form name="login_form" method="POST">
            <div class="form-group">
                <label for="email">이메일:</label>
                <input type="email" class="form-control" id="email" name="email">
                <span class="txt_alert" style="display: none;">이메일 형식에 맞게 입력하세요.</span><!--알럿-->
            </div>
            <div class="form-group">
                <label for="pwd">비밀번호:</label>
                <input type="password" class="form-control" id="pwd" name="pwd">
                <span class="txt_alert" style="display: none;">비밀번호를 입력하세요.</span><!--알럿-->
            </div>
            <button type="button" class="btn btn-default" id="login_btn">로그인</button>
            <button type="button" class="btn btn-default" id="register_btn">회원가입</button>
            <input id="notice_no" type="hidden" name="notice_no" value="">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){
            DANAL.EnterKeyEvent.init($("#login_btn"));

            var notice_no = DANAL.getURLVars()["notice_no"];

            $("#notice_no").attr("value",notice_no);

            DANAL.recruit.ClickUIEvent.login.init();
            $("#pwd").keydown(function(e){
                if(event.which === 13){
                    $("#login_btn").trigger("click");
                }
            });

            $("#login_btn").on('click',function(){
                var elems = [$("#email"), $("#pwd")];
                var patterns = ["EMAIL", "EMPTY"];
                var flag = true;

                $.each(elems, function(key, val){
                    flag = flag && DANAL.checkForm(val, val.next(), patterns[key]);
                });
                console.log(flag);
                if(flag){
                    document.login_form.action = "{{ url_for('auth_api.login_action') }}";
                    document.login_form.submit();
                }



            });
            $("#register_btn").one('click',function(){
                location.href = "{{ url_for('register_view.register_form') }}";
            });
        });
    </script>
{% endblock %}