{% extends 'layout.html' %}
{% block title %}MyPage{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block contents %}
    <div class="container">
        <hr>
        <div class="page-header">
            <h1>지원현황</h1>
        </div>
        <hr>
        {% with lists = get_flashed_messages() %}
            {% for list in lists %}
                <div class="alert alert-info">
                    <strong>Info!</strong> {{ list.decode("utf-8") }}
                </div>
            {% endfor %}
        {% endwith %}
		
		{% if data %}
        {% for row in data %}
            <div class="jumbotron">
                <p class="lead">공고명 : {{ data[row]['n_title'] }} 
                {%  if data[row]['r_submit'] == 1 %}
                	<span class="badge badge-secondary">지원완료</span>
                {% endif %} 
                </p>
                <hr class="my-4">
                <p>시작일 : {{ data[row]['n_s_date'] }} ~ 마감일 : {{ data[row]['n_e_date'] }}</p>
                <p>구분1 : {{ data[row]['r_group1'] }}</p>
                <p>구분2 : {{ data[row]['r_group2'] }}</p>
                <p class="lead" id="btn_group">
                	{% if data[row]['expire_chk'] == 1 %}
                		{% if data[row]['r_result'] == 0 %}
						<button class="btn btn-secondary"  link="apply/result?notice_no={{ data[row]['r_notice_no'] }}">서류 심사중</button>
						{% elif data[row]['r_result'] == 1 %}
						<button class="btn btn-secondary"  link="apply/result?notice_no={{ data[row]['r_notice_no'] }}">1차면접 심사중</button>
						{% elif data[row]['r_result'] == 2 %}
						<button class="btn btn-secondary"  link="apply/result?notice_no={{ data[row]['r_notice_no'] }}">2차면접 심사중</button>
						{% else %}
						<button class="btn btn-secondary"  link="apply/result?notice_no={{ data[row]['r_notice_no'] }}">결과확인</button>
						{% endif %}						                	
                	{% else %}
	                    <button class="btn btn-primary "  link="apply/step5?notice_no={{ data[row]['r_notice_no'] }}">지원서보기</button>
	                    <button class="btn btn-danger" r_no="{{ data[row]['r_no'] }}">지원취소</button>
	                    {% if data[row]['r_submit'] == 0 %}
	                    <button class="btn btn-success " r_no="{{ data[row]['r_no'] }}" notice_no="{{ data[row]['r_notice_no'] }}">최종제출</button>
	                    {% endif %}
	                {% endif %}
                </p>
            </div>
        {% endfor %}
        {% else %}
        	<p>지원 이력이 없습니다.</p>
        	<button type="button" class="btn btn-default btn-lg" onclick="javascript:location.href='{{ url_for("notice_view.notice_board") }}';">채용공고 확인</button>
        {% endif %}



    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#btn_group button").click(function() {
                if ($(this).text() == '지원서보기') {
                    var link = $(this).attr('link');
                    location.href = link;
                }else if($(this).text() == '지원취소'){
                    var cf = confirm("지원취소 하시겠습니까?");
                    if(cf){
                        data={
                            "r_no":$(this).attr("r_no"),
                            "r_writer_no":"{{ current_user.user_no }}"
                        }
                        DANAL.AJAXCall('{{ url_for('apply_api.apply_remove') }}', data, function(r){
                            if(r["RETURNCODE"] == 0){
                                alert(r["RETURNMSG"]);
                                location.reload();
                            }else{
                                alert(r["RETURNMSG"]);
                            }
                        });
                    }
                }else if($(this).text() == '최종제출'){
                	var cf = confirm("최종 제출 하시겠습니까? \n최종 제출 후에도 마감전까지 수정이 가능합니다.");
                    if(cf){
                        data={
                        	"submit_flag":"1",
                        	"notice_no" :$(this).attr("notice_no")
                        }
                        var result = DANAL.AJAXCall("{{ url_for("apply_api.step5_save") }}", data, function(d){
                        	if(d["RETURNCODE"]=='0'){
                        		alert(d["RETURNMSG"]);
                            	location.href="{{ url_for('mypage_view.mypage') }}";
                        	}else{
                        		alert(d["RETURNMSG"]);
                        	}
                        });
                    }
                }else if($(this).text() == '결과확인'){
                	var link = $(this).attr('link');
                    location.href = link;
                }
            });
        });
    </script>
{% endblock %}